@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--lumin-text);
    background: var(--lumin-background);
    font-family: var(--font-raleway), sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #1f1f1f #141414;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #141414;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1f1f1f;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #424242;
}
